{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Main {% endblock %}

<style>
    {% block style %}
        .navbar-static-top {
            margin-bottom: 0px !important;
        }
        .jumbotron {
            background-color:#0E3D14;
            color: #FFF;
        }
    {% endblock %}
</style>

{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class='col-xs-8'>
                    <h1>Try Django 1.8</h1>
                    <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work.</p>
                    <p>
                      <a class="btn btn-lg btn-primary" href="" role="button">Join Us &raquo;</a>
                    </p>
                </div>
                <div class='col-xs-4'>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-3 pull-right">
    <p class='lead text-align-center'> {{title}} </p>
    <form method="post" action="">{% csrf_token %}
        {{form|crispy}}
        <input class="btn btn-lg btn-primary" type="submit" value="Sign Up">
    </form>
  </div>
    <div class='col-sm-3'>
        <p class='lead text-align-center'>Built with Django &amp; Bootstrap</p>
    </div>

    <div class='col-sm-3'>
        <p class='lead text-align-center'>Created for Starters of all kinds. </p>
    </div>

    <div class='col-sm-3'>
        <p class='lead text-align-center'>Always Open Source</p>
    </div>
</div>
{% endblock %}
